.colorbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--elm-selected-bg);
    border-color: var(--light-border);
    overflow-x: auto;
    overflow-y: hidden;
}
