.editor {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.appbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  z-index: 99;
}

.pixeleditor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bottombar {
    position: absolute;
    bottom: -0.4rem;
    display: block;
    width: 100%;
    z-index: 99;
    overflow: auto;
}
