.LayerManager {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--app-bg);
}

.layerItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    background-color: var(--elm-bg);
    border-top: 1px solid var(--elm-border);
    border-bottom: 1px solid var(--elm-border);
}

.itemSelected {
    background-color: var(--dark-700);
}

.flex {
    display: flex;
    flex-direction: row;
}
